<body>

	<nav ='top-menu-bar'>
	  <div class='nav-header'><a href="" font="italics"</a></div>
	    <li role="presentation"><a href="">Wellness Journey</a></li>
	    <li role="presentation"><a href="../public/index.html">Home</a></li>
	    <li role="presentation"><a href="../public/about.html">About</a></li>
	    <li role="presentation"><a href="../public/contact.html#">Contact</a></li>
	<a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	<a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</div>
	</nav>

</body>