<body>
	<div class="wrapper">
		<section class="contact">
			<h1>Contact</h1>
			<form id="contact-form">

				<ul>
					<li>
						<label for="name">Name</label>
						<input type="text" id="name" name="name" placeholder="Type your name here" required="required">
					</li>
					<li>
						<label for="email">Email</label>
						<input type="email" id="email" name="email" placeholder="example@gmail.com" required="required">
					</li>
					<li>
						<label for="message">Message</label>
						<textarea id="message" name="message" required="required"></textarea>
					</li>
				</ul>
				<input type="submit">
			</form>

		</section>

	<div class="wrapper"><br><br>
    <aside>
    <section class="sidebar">
    <div id="about">

		<section class="create-description">
			<h2>Please send us your comments!</h2>
			<a href="">We appreciate your feedback</a>
		</section><br><br><br><br>
		<section class="contact-details">
			<h2>Email comments to: </h2>
			<p>lmvanorden@gmail.com<br />
				Lisa VanOrden-Kaan, RYT</p>
      	</section>
    </div> <!-- //2nd wrapper -->
    </section>
    </aside>

</body>
