
  <div class='page-header'>
    <header id="masthead1">
    <div class="jumbotron"style="background-color: transparent !important">
        <center><h2 class="text-center1">Yoga Videos</h2>
        </center>
    </div>
    <h2><center>Continue on Your Yoga Journey with Practice Videos!</center></h2>
  </div>
</div><br><br><br><br>

  <div class='wj-sub-header'>
    <header>
      <h1>Wellness Journey</h1>
        <center>
          <a href="../public/yoga_learn_poses.html">Read About Yoga Poses</a>
          <a href="../public/yoga_create.html">Practice Yoga Poses</a>
          <a href="../public/yoga_videos.html">Do Yoga Videos</a>
          <a href="views/users/restore.handlebars">Restore/Rejuvenate</a>
        </center>
    </header>
  </div><br><br><br><br>

<div class="container-fluid"><center>
<br><br>
  <div class=videos>
    <h4 id="Yoga-to-Warm-Your-Body">Yoga to Warm Your Body</h4>
        <a href="https://www.youtube.com/watch?v=25H3cWIMXwY" target="_blank">Click - Begin and Warm Up Your Body</a>
        <li>Appx Time 15 minutes</li>
    <h4 id="Yoga-for-Shoulders">Yoga to open your Shoulders</h4>
        <a href="https://www.youtube.com/watch?v=AHgBdod8daQ&list=PLYZ1JGdHrzfCamK6UzbIyENU07gLhVhRI">Shoulder opening series</a>
        <li>Appx time 19 minutes</li>
    <h4 id="Yoga-standing">Standing Sequences</h4>
        <a href="https://www.youtube.com/watch?v=jjJFNgMMKSE">Standing sequence</a>
        <li>Appx Time 21 minutes</li>
    <h4 id="Yoga-for-Core">Yoga to open your Core</h4>
        <a href="https://www.youtube.com/watch?v=6GHQYLQmGgk">Yoga to go Core strength</a>
        <li>Appx Time 23 minutes</li>
    <h4 id="Yoga-Moon-Salutations">Yoga Moon Salutations</h4>
        <a href="https://www.youtube.com/watch?v=W-sJE4JvEuw">Moon Shine with Shiva Rea</a>
        <li>Appx Time 6 minutes</li>
</center></div>
</div>  <!-- //container-fluid -->
</body>

