* {
	box-sizing: border-box;
	color: white !important;
}

<style type="text/css">
			header, section, footer, aside, nav, article, figure, figcaption {
				display: block;}


			/*main section*/
			#main-container {
				padding-top: 130px;
				float: center;
			}
			.main-section {
				background: inherit;
				padding: 30px;
				margin: 0 0 40px 0;
				width: 100%;
				max-width: 650px;
				float: left;
				border: 1px solid #ddd;
			}
			/*contact page*/

			#contact-form ul {
				margin-bottom: 10px;
			}
			#contact-form li {
				margin-bottom: 10px;
			}
			label,
			input[type=text],
			input[type=email],
			textarea {
				display: block;
				width: 100%;
				background: inherit;
			}
			input[type=text],
			input[type=email],
			textarea {
				height: 35px;
				border: 1px solid #ddd;
				padding: 0 10px;
				font-size: 14px;
			}
			textarea {
				height: 200px;
			}
			input[type=submit] {
				background: inherit;
				border: 0 none;
				color: steelblue;
				font-size: 18px;
				padding: 10px 30px;
				cursor: pointer;
			}

			/*sidebar*/
			.sidebar {
				background: #455467;
				padding: 10px;
				width: 100%;
				max-width: 2000px;
				float: right;
				border: 1px solid #ddd;
				margin-bottom: 20px;
			}
			h3,
			.sidebar h2 {
				border-bottom: 2px solid #eee;
				padding-bottom: 20px;
				margin-bottom: 15px;
				line-height: 22px;
			}
			.social {
				width: 62px;
				height: 62px;
				margin-top: 8px;
				margin-right: 5px;
			}
			.social:last-child {
				margin-right: 0;
			}
/* */
			header {
				height: 50px;
				width: 50;
				padding: 20px;
				}
			h1 {
				text-indent: -9999px;
				width: 940px;
				height: 130px;
				margin: 0px;}
			nav, footer {
				clear: both;
				color: #ffffff;
				background-color: inherit;
				height: 30px;}
			nav ul {
				margin: 0px;
				padding: 5px 0px 5px 30px;}
			nav li {
				display: inline;
				margin-right: 40px;}
			nav li a {
				color: #ffffff;}
			nav li a:hover, nav li a.current {
				color: #000000;}
			section.about {
				float: left;
				width: 600px;
				margin-right: 5px;
/*				border-right: 1px solid #eeeeee;*/
			}

			section.contact {
				float: left;
				width: 600px;
			}
			section.connect {
				float: right;
				width: 600px;
			}
			article {
				clear: both;
				overflow: auto;
				width: 100%;
				margin-top: 30px;
			}
			hgroup {
				margin-top: 50px;}
			figure {
				float: left;
				width: 290px;
				height: 220px;
				padding: 5px;
				margin: 0px;
				border: 1px solid #eeeeee;}
			figcaption {
				font-size: 90%;
				text-align: left;}
			aside {
				width: 291px;
				float: left;
				padding: 0px 0px 0px 20px;}
			aside section a {
				display: block;
				padding: 10px;
				border-bottom: 1px solid #eeeeee;}
			aside section a:hover {
				color: #985d6a;
				background-color: #efefef;}
			a {
				color: #de6581;
				text-decoration: none;}
			h1, h2, h3, p {
				font-weight: normal;}
			h2 {
				margin: 10px 0px 5px 0px;
				padding: 0px;}
			h3 {
				margin: 0px 0px 10px 0px;
				color: #de6581;}
			aside h2 {
				padding: 30px 0px 10px 0px;
				color: #de6581;}
			footer {
				font-size: 80%;
				padding: 7px 0px 0px 20px;}

/*
li {
  background: skyblue;
  width: 10%;
  margin: 15px;
  padding: 10px;
}*/

.label {
  font-weight: bold;
}

.create-update-form {
  background: aqua;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}
